// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

// @font-face declarations ...

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


//300
@font-face{
    font-family: 'Noto Sans KR';
    src: url(../../fonts/NotoSansKR-Light.woff) format('woff'), url(../../fonts/NotoSansKR-Light.woff2) format('woff2');;
    font-weight: 300;
}

//400
@font-face{
    font-family: 'Noto Sans KR';
    src: url(../../fonts/NotoSansKR-Regular.woff) format('woff'), url(../../fonts/NotoSansKR-Regular.woff2) format('woff2');
    font-weight: 400;
}

//500
@font-face{
    font-family: 'Noto Sans KR';
    src: url(../../fonts/NotoSansKR-Medium.woff) format('woff'), url(../../fonts/NotoSansKR-Medium.woff2) format('woff2');
    font-weight: 500;
}

//bold
@font-face{
    font-family: 'Noto Sans KR';
    src: url(../../fonts/NotoSansKR-Bold.woff) format('woff'), url(../../fonts/NotoSansKR-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
}

//black
@font-face{
    font-family:'Noto Sans KR';
    src: url(../../fonts/NotoSansKR-Black.woff) format('woff'), url(../../fonts/NotoSansKR-Black.woff2) format('woff2'); ;
    font-weight: 900;   
}
