.carousel{
  height: 560px;

  @include media-breakpoint-down(sm) { 
    height:180px;
  }

  .carousel-inner{
    height:100%;

    .carousel-item{
      height:100%;

      img{
        width:100%;
        height:100%;
        object-fit: cover;
      }
      
    }

  }  
  
.carousel-control{
  &-prev{
     opacity: 1;

    img{
      width:48px;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }

     &-icon{
      background-image: url('/src/assets/images/icon-left-white@3x.png');
      width: 48px;
      height: 48px;
    }
  }

  &-next{
     opacity: 1;

    img{
      width:48px;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }

    &-icon{
      background-image: url('/src/assets/images/icon-right-white@3x.png');
      width: 48px;
      height: 48px;
    }
  }
}
  
  

  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    @include media-breakpoint-down(xs) {
       width: 4px;
       height: 4px;
    }    
  }
}


//oewl carousel
.owl-carousel{
  position: relative;
  .owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;   
    height: 24px;
    button{
      position: absolute;
      &.owl-prev{
        left:-24px;
      }

      &.owl-next{
        right: -24px;
      }
      img{
          width: 24px;
      }
    }
  }

  .owl-item{
    .stay-list{
      position: relative;
      .list{
        position: absolute;
        background-color: rgba(33, 37, 41, 0.4);
        bottom: 0; 
        width: 100%; 
        left: 0;
        display: flex;
        justify-content: space-between; 
        padding: 8px;
      }
    }
    img{
      height: 120px;
      object-fit: cover;   
     @include media-breakpoint-down(xs) {
       height: 80px;
     }
    }
  }
}

.content-list{
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;    
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

}




.slides-group{
  .mySlides{
    .carousel.detail-img{
      height: 400px;
      @include media-breakpoint-down(md) {
       height: 186px;
      }
    }

    width: calc(100% - 300px);
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    display: block !important;
  }

  .stay-detail{
    width: 300px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    padding-left: 20px;

    h3{
      font-size: 18px;

      @include media-breakpoint-down(md) {
        margin-top: 16px;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      padding-left: 0;

      .bottom{
        margin-top: 40px;
      }
    }
    .percent{
      font-weight: 700;
      @include fontSize(24px);
      color:$primary;
    }

    .sale-price{
      color:$dark;
    }

    .price{
      @include fontSize(24px);
      font-weight: 700;
    }

    .stay-type{
      border:1px solid $light;
      padding:16px;
      margin-top: 16px;

      @include media-breakpoint-down(md) {
        margin-top: 8px;
      }
      li{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        &:first-of-type{
          margin-top: 0;
        }
      }

      .title{
        color: $dark;        
      }

    }
  }
}
