.carousel{
  height: 560px;
  &.slide-tab{
    height:400px;
    @include media-breakpoint-down(xs){
      height: 186px;
    }
  }
  &.promotion{
    height: auto;

    @include media-breakpoint-down(sm) { 
      height:auto;
    }
  }
  
  @include media-breakpoint-down(md) { 
    &.top{
      position: absolute; 
      top:0; 
      left: 0;
      width: 100%;
      z-index: 999;
    }
    height:460px;
  }

  @include media-breakpoint-down(sm) { 
    height:180px;
  }
 
  .carousel-inner{
    height:100%;
    &.promotion{
      position:relative;
      padding-top: 28.2%;
      @include media-breakpoint-down(xs){
        padding-top: 100%;
      }
      .carousel-item{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;

        @include media-breakpoint-down(xs){
          img.xs-up-promotion{
            display: none !important;
          }
        }

        @include media-breakpoint-up(sm){
          img.xs-down-promotion{
            display: none !important;
          }
        }
      }
    }
    .carousel-item{
      height:100%;

      img{
        width:100%;
        height:100%;
        object-fit: cover;
      }
      
    }

  }  
  
.carousel-control{
  &-prev{
     opacity: 1;

    img{
      width:48px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

     &-icon{
      background-image: url('/src/assets/images/icon-left-white@3x.png');
      width: 48px;
      height: 48px;
    }
  }

  &-next{
     opacity: 1;

    img{
      width:48px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &-icon{
      background-image: url('/src/assets/images/icon-right-white@3x.png');
      width: 48px;
      height: 48px;
    }
  }
}
  
  

  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    @include media-breakpoint-down(xs) {
       width: 4px;
       height: 4px;
    }    
  }
}


//oewl carousel
.owl-carousel{
  position: relative;
  .owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;   
    height: 24px;
    button{
      position: absolute;
      &.owl-prev{
        left:-25px;
        @include media-breakpoint-down(xs) { display: none; }
      }

      &.owl-next{
        right: -25px;
        @include media-breakpoint-down(xs) { display: none; }
      }
      img{
          width: 24px;
      }
    }
  }

  &.near-exp{
    .owl-stage-outer{
      width: 100%;
    }
    .owl-stage{
      width: 100%;
    }

    .owl-item{
      width:calc(300px) !important;

      li.popular-card{
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
  }
}

.content-list{
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;    
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

}




.slides-group{
  .room-info-slide{
    width: calc(100% - 300px);
    
    .carousel.detail-img{
      height: 400px;
      @include media-breakpoint-down(md) {
       height: 186px;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    display: block !important;
  }

  .stay-detail{
    width: 300px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    padding-left: 20px;

    h3{
      font-size: 18px;

      @include media-breakpoint-down(md) {
        margin-top: 16px;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      padding-left: 0;

      .bottom{
        margin-top: 40px;
      }
    }
    .percent{
      font-weight: 700;
      @include fontSize(24px);
      color:$primary;

      @include media-breakpoint-down(xs){
        @include fontSize(18px);
      }
    }

    .sale-price{
      color:$dark;
      @include media-breakpoint-down(xs){
        @include fontSize(12px);
      }
    }

    .price{
      @include fontSize(24px);
      font-weight: 700;

      @include media-breakpoint-down(xs){
        @include fontSize(18px);
      }
    }

    .stay-type{
      border:1px solid $light;
      padding:16px;
      margin-top: 16px;

      @include media-breakpoint-down(md) {
        margin-top: 8px;
      }
      li{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        &:first-of-type{
          margin-top: 0;
        }
      }

      .title{
        color: $dark;        
      }

    }
  }
}

//app slide carousel
main.carousel-body .section-body.card-ui ul.popular-card-body {
  margin: 0 !important;
}

@include media-breakpoint-up(lg) {

  .app-owl-carousel{
    .owl-stage{
      width: auto !important;
    }

    .owl-stage-outer{
      overflow: visible;

    }
    .owl-item li {
      width: calc(100%) !important;
      margin-left: 0 !important;
    }
    
  }


  .app-owl-carousel .owl-item:nth-child(3n) {
    margin-right: 0 !important;
  }

  .one-line-carousel{
    .popular-card{
      @include media-breakpoint-up(lg){
        margin-top: 24px !important;
      }
    }
    
     .owl-stage {
      width: block !important;
    }

    .owl-stage-outer {
     overflow: hidden !important;
    }

    .owl-item li {
      width: calc(100%) !important;
      margin-left: 0 !important;
    }
  }
}

.one-line-carousel .owl-item li, .app-owl-carousel .owl-item li{
  width: calc(100%) !important;
  margin-left: 0 !important;
}

.one-line-carousel .owl-nav button.owl-prev{
 left:-52px; 
 img{
    width: 48px;
    height: 48px;
  }
}

.one-line-carousel .owl-nav button.owl-next{
 right:-52px; 
 img{
    width: 48px;
    height: 48px;
  }
}
