.date-picker-ui{
  display:flex; 
  // margin-bottom:10rem !important;



  input.pick-calendar{
    height:56px; 
    padding-left: 44px; 
    border: none;
    position:relative;
    color:$dark;
    
    &:focus{
      border-bottom:none;
    }

    &.date{     
      background-image: url('/src/assets/images/icon-date-gray@3x.png');
      background-position: 16px center;
      background-repeat: no-repeat;
      background-size:24px auto;  
    }

    &.place{     
      background-image: url('/src/assets/images/icon-location-gray@3x.png');
      background-position: 16px center;
      background-repeat: no-repeat;
      background-size:24px auto;  
    }
  }

  .search{
    height:56px; 
    min-width:80px;
  }

  @include media-breakpoint-down(sm) { 
    display: block;
    margin-top: 40px;
    
    input.pick-calendar{
      height:40px; 
      padding-left: 30px; 
      border: none;
      font-size: 12px;
      border-bottom:none;


      &:focus{
        border-bottom:none;
      }

      &.date{     
        background-image: url('/src/assets/images/icon-date-gray@3x.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size:24px auto;  
      }

      &.place{     
        background-image: url('/src/assets/images/icon-location-gray@3x.png');
        background-position: 6px center;
        background-repeat: no-repeat;
        background-size:24px auto;  
      }
    }
    
    .search{
      height:40px; 
      min-width:100%;
      margin-top: 8px;
    }
  }
}


.daterangepicker{
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 0;
  left: auto;

  .drp-calendar{
    .calendar-table{
      table{
        thead{
          tr{
            &:first-of-type{
              margin-bottom: 20px;
              th{
                color:$main-grey;
                font-weight: 700;                
              }
            }
            th{      
              padding:16px 0;        
              font-size: 12px;
              color: $dark;
              font-weight: normal;
            }            
          }
        }

        tbody{
          tr{
            td{
              padding:8px;
            }
          }
        }

        td{
          position: relative;
          font-size: 14px;

          &.active{
            background-color:$primary;
            color:$white;
            border-radius: 0;
          }
          // background: $white;
          // &.active {
          //   background: #000;
          //   color: #000;
          //   &::after {
          //     content: '';
          //     z-index: 0;
          //     position: absolute;
          //     top: 50%;
          //     left: 50%;
          //     width: 24px;
          //     height: 24px;
          //     border-radius: 12px;
          //     color: #fff;
          //     background-color: rgba(34,56,112,.5);
          //     transform: translate(-50%, -50%);
          //   }
          // }
        }
      }

      .prev{
        span{display:none;}
        background-image: url('/src/assets/images/icon-left-black@3x.png') !important;       
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
         background-size: 24px 24px;    
      }

      .next{
        span{display:none;}
        background-image: url('/src/assets/images/icon-right-black@3x.png') !important;       
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;     
      }

    }
  }  
  
  @include media-breakpoint-down(xs) { 
    left:0 !important;
    width:100%;
  }


  .drp-calendar{
    &.left, &.right{
      max-width: 100%;
    }
  }
}


  @include media-breakpoint-down(xs) { 
    left:0;
    width:100%;
  }


//flatpickr update
.flatpickr-calendar{
  border-radius: 0;
}

// .flatpickr-day.selected, .flatpickr-day.startRange, 
// .flatpickr-day.endRange, .flatpickr-day.selected.inRange, 
// .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, 
// .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, 
// .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, 
// .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, 
// .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, 
// .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, 
// .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
//   color:$white;
//   background-color: $primary;
//   border:none;
// }

.flatpickr-day.today{border: none;}

.flatpickr-weekday{
  font-weight:700;
}