.form-control:focus{
  box-shadow: none;
}

input.form-control.main-color {
  color:$main-grey;
  &::placeholder{
    color:$main-grey;
  }
}


label{
  margin-bottom:0;
}
/* The container */
.input-container{
  display:flex;
  justify-content: space-between;
  margin-bottom:16px;
}

.container-radio {
  display: block;
  width: 16px;
  height: 16px;
  position: relative; 
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid $grey;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: $primary;
  border:1px solid $primary;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}



//input checkbox

/* The container */
.input-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.container-check {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;  
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-check input {
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.ch-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid $grey;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-check input:checked ~ .ch-checkmark {
  background-color: $primary;
  border:1px solid $primary;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ch-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-check input:checked ~ .ch-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-check .ch-checkmark:after {
 	  left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

//type select radio

/* The container */
.input-container{
  display:flex;
  justify-content: space-between;
}

.container-type {
  display: block;
  width: 68px;
  height: 24px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

   @include media-breakpoint-down(md){
   width: 90px;
  }
}

/* Hide the browser's default radio button */
.container-type input {
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-type  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 68px;
  background-color: #fff;  
  border-radius: 12px;
  text-align: center;
  border: none;

   @include media-breakpoint-down(md){
   width: 90px;
  }
}

/* On mouse-over, add a grey background color */
.container-type:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-type input:checked ~ .checkmark {
  background-color: $white;
  border:1px solid $primary;
  border-radius: 12px;
  color:$primary;

  opacity: 1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
//.container-type .checkmark:after {
 // content: "";
  //position: absolute;
  //display: none;
//}

/* Show the indicator (dot/circle) when checked */
.container-type input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-type .checkmark:after {
 	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: transparent;
}


//new

.radio {
  color: var(--color);

  &:focus-within {
    .radio__label {
      transform: scale(1.05);
      opacity: 1;
    }
  }
}

.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: flex;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus + .radio__control {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
    }
  }
}

.radio-gradient input:checked + .radio__control {
  background: $primary;
  border: 1px solid #ced4da;
}

.radio-before {
  input + .radio__control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em currentColor;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
  }

  input:checked + .radio__control::before {
    transform: scale(1);
  }
}

.radio__control {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ced4da;
  transform: translateY(-0.05em);
}



//add radio , check custom

    .checks {
      position: relative;
    }

    .checks input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .checks input[type="radio"]+label {
      display: inline-block;
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .checks input[type="radio"]+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      text-align: center;
      background: #fff;
      border: 1px solid #ced4da;
      border-radius: 100%;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    }

    .checks input[type="radio"]+label:active:before,
    .checks input[type="radio"]:checked+label:active:before {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .checks input[type="radio"]:checked+label:before {
      background: #E9ECEE;
      border-color: #adb8c0;
    }

    .checks input[type="radio"]:checked+label:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 3px;
      width: 10px;
      height: 10px;
      background: #9334ff;
      border-radius: 100%;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .checks input[type="radio"]:checked+label:before {
      border: 1px solid #9334ff;
    }




    //add custom radio
    .custom-radio .custom-control-input:checked~.custom-control-label::before {
      color: #ffffff;
      border-color: #9334ff;
      background-color: #fff;
    }

    .custom-radio .custom-control-input:checked~.custom-control-label::after {
      border-color: #9334ff;
      background-color: #9334ff;
    }

    .custom-radio .custom-control-label::before {
      width: 16px;
      height: 16px;
    }

    .custom-radio .custom-control-label::after {
      background-image: none !important;
      position: absolute;
      top: 30%;
      left: -18px;
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      background: 50% / 50% 50% no-repeat;
      background: #fff;
      border-radius: 50%;
    }