

//custom control label
.custom-control-label{
  &:before{
    border:1px solid #ced4da;
  }
}
//add radio , check custom

    .checks {
      position: relative;
    }

    .checks input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .checks input[type="radio"]+label {
      display: inline-block;
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .checks input[type="radio"]+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      text-align: center;
      background: #fff;
      border: 1px solid #ced4da;
      border-radius: 100%;
    }

    .checks input[type="radio"]:checked+label:before {
      background: #E9ECEE;
      border-color: #adb8c0;
    }

    .checks input[type="radio"]:checked+label:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 3px;
      width: 10px;
      height: 10px;
      background: #9334ff;
      border-radius: 100%;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .checks input[type="radio"]:checked+label:before {
      border: 1px solid #9334ff;
    }




    //add custom radio
    .custom-radio .custom-control-input:checked~.custom-control-label::before {
      color: #ffffff;
      border-color: #9334ff;
      background-color: #fff;
    }

    .custom-radio .custom-control-input:checked~.custom-control-label::after {
      border-color: #9334ff;
      background-color: #9334ff;
    }

    .custom-radio .custom-control-label::before {
      width: 16px;
      height: 16px;
    }

    .custom-radio .custom-control-label::after {
      background-image: none !important;
      position: absolute;
      top:50%;
      transform:translateY(-42%);//
      left: -18px;
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      background: 50% / 50% 50% no-repeat;
      background: #fff;
      border-radius: 50%;
    }

    