.modal{
  .modal-dialog{
    @include media-breakpoint-up(md) { 
      &.popup{
      
        max-width: 460px;

        .modal-content{
          padding: 40px 66px;
          .modal-header{
            padding:0;
            margin-bottom: 16px;
          }

          .modal-body{
            padding:0;
          }

          .modal-footer{
            padding: 0;
            margin-top: 24px;
          }
        }
      }
    }    
  
    margin-top: 15rem;
  }
  .modal-content{
    border-radius: 0;
    border: none;
    .modal-header{
      border-bottom: none;
      align-items: center;
      .modal-title{
        color:$main-grey;
      }

      .close{opacity: 1;}
    }

    .modal-footer{
      border:none;
      padding:1rem 2rem;
    }
  }
  
}

//modal popup
.modal-popup{
  .modal-title{
    font-size:18px;
  }

  .modal-body{
    textarea{
      border: 1px solid $light;
    }
    p{
      color:$dark;
      font-size: 12px;
      margin-top: 16px;
    }
  }

  .modal-footer{
    border:none;
  }
}

//alert modal
.alert-modal{
  padding:3rem 0;

  @include media-breakpoint-up(lg){
    width: 460px;
  }
}