.detail-info-sec{

  @include media-breakpoint-down(md) {
      hr{
        display: none;
      } 
  }

  h5{
    @include media-breakpoint-down(xs) {
      font-size: 14px !important;
    }
  }
  .left-top{
    width: calc(100% - 300px);
    padding: 0 16px;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .right-top{
    width: 300px; 
    padding:0 16px;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 0;      
    }
  }
  .acti-info{
    margin-top: 24px;

    @include media-breakpoint-down(xs){
      margin-top: 8px;
    }
    &.promotion{
      .top-promotion{
        .category{
          color:$dark;
          margin-left: 0;
          @include fontSize(18px);
          @include media-breakpoint-down(xs){
            @include fontSize(12px);
          }
        }
        .title{
          @include media-breakpoint-down(xs){
            @include fontSize(12px);
          }
        }
      }
    }
    .top{      
      .address{
        min-width: 24px;
        background-color: $primary;
        color:$white;
        padding:2px 8px; 
      }

      .category{
        color:$dark;
        font-weight: 700;
        font-size: 18px;
        margin-left:8px;
        @include media-breakpoint-down(md) { 
          font-size: 14px;
        }
      }

      .rating{
        margin-left: 8px;
        img{
          width: 24px;
        }
      }

      .price{
        color:$primary;
        font-size: 18px;
        font-weight: 700;
        @include media-breakpoint-down(md) { 
          display: none;
        }
      }



      .top-title{
        h3{
          font-size: 30px;
          font-weight: 700;
          line-height: 1.6;
          margin-top: 8px;

          @include media-breakpoint-down(md) { 
           font-size: 18px;
          }
        }
        
      }

      .tag{
        a{
          color:$dark;
        }      
      }

    }
  }



  //더보기
  .detail{
    h5{
      font-size: 18px;
      font-weight: 700;
    }

    .content{
      min-height: 162px;
      @include media-breakpoint-down(xs){
        p{margin-top: 8px !important;}
      }
    }
  }

  .facility{
    h5{
     @include fontSize(18px);
    }

    @include media-breakpoint-down(md){
      margin:24px 0 16px 0;
    }
    .facility-group{
      display: flex;
      flex-wrap:wrap;

      .facility-list{
        padding-right:40px;
        margin-top: 16px;
        @include media-breakpoint-down(sm) {
          width: 50%;
          margin-top: 8px;
        }
      }
    }   
  }
  //middle-nav

  .detail-tab{
    @include media-breakpoint-down(xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .middle-nav-parent{
    .middle-nav{
      background-color:$light;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;     
    .list{
      background-color:$light;
      padding:0 20px;
      height: 60px;
      line-height: 60px;
      display: inline-block;

      @include media-breakpoint-down(xs) {
        padding:0 12px;
        height:48px;
        line-height: 48px;
      }
      &.active{
        color:$primary;
        font-weight: $font-weight-bold;
        border-bottom:2px solid $primary;
      }

      .num{
        color:$dark;
      }
    }

    //scroll fixed
    &.fixed{
      position:fixed;
      top:0;
      z-index: 999;
      text-align: center;

    }      
  }
}


  //객실정보,상세정보,위치,리뷰,문의
  .tab-content-list{

    .owl-px{
      @include media-breakpoint-up(lg){
        padding:0 32px;
      }
    }

    //scroll 내렸을 때 paddingtop 추가
    &.top-area{
      padding-top: 64px;
    }
    section{
      padding:24px 0;
      border-bottom: 1px solid $light;
      @include media-breakpoint-down(xs){
        border-bottom: none;
      }

      &.list-detail.top-area{
          padding-top: 64px;
      }

      &:nth-last-of-type(1){
        border-bottom: none;
      }
    
      h5{
        font-size: 18px;
        font-weight: $font-weight-bold;
      }

      &.review{
        .review-list{
          margin-top: 40px;
          @include media-breakpoint-down(md) { 
            margin-top: 24px;
          }

          .user{
            font-weight: $font-weight-bold;
          }
          .date{
            color:$dark;
          }

          .content{
            margin-top: 8px;
          }
        }
      }

      &.inquiry{
        .inquiry-btn{
          width: 90px;
          height: 32px;
        }

        .modal{
          .modal-title{
            font-size:18px;
          }

          .modal-body{
            textarea{
              border: 1px solid $light;
            };
            p{
              color:$dark;
              font-size: 12px;
              margin-top: 16px;
            }
          }

          .modal-footer{
            border:none;
          }
        }
        .inquiry-list{
          margin-top: 40px;
          @include media-breakpoint-down(md) { 
            margin-top: 24px;
          }

          .user{
            .id{
              font-weight: $font-weight-bold;
              margin-left: 8px;
            }
            .state{
              min-width: 80px;
              display: inline-block;
              text-align: center;
              border-radius: 14px;
              padding:4px 0;

              &.ing{
                background: $light;
              }

              &.complete{
                background: $primary;
                color:$white;
              }
            }
          }
          .date{
            color:$dark;
          }

          .content{
            margin-top: 8px;
            .answer{
              margin-top: 12px;
            }
            .qa{
              color: $primary;
              font-weight: $font-weight-bold;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  .company-info{
    margin-top: 24px;
    
    @include media-breakpoint-down(xs){
      margin-top: 8px;
    }
    
    img.company-thumbnail{
      width: 100%;
      height: auto;

      @include media-breakpoint-down(md) { 
        display: none;
      }
    }
    .name{
      font-size: 18px;
      color:$dark;
      font-weight: 700;
      margin-top: 16px;

      @include media-breakpoint-down(md) { 
        margin-top:0;
        font-size: 14px;
      }
    }
    .detail{
      margin-top: 24px;

      @include media-breakpoint-down(md) { 
        margin-top: 8px;
      }
      li{

        span{
          padding-left: 4px;
        }
        img{
          width: 24px;
        }
        
        &.area{  
          position: relative;
          .company-content{
            padding-left: 28px;
          }
          &:before{
            content: "";
            background-image: url('/src/assets/images/icon-location-gray@3x.png');
            position: absolute;
            top: 0;
            display: inline-block;
            background-size: cover;
            width: 24px;
            height: 24px; 
          }     
        }
        
      }
    }
  }
  //근처체험
  &.near-exp-list{
    background-color:$pale-gray;
    padding:40px 0;
    .card-ui{
      .popular-card-body{
        li.popular-card{
          @include media-breakpoint-down(xs) {
            min-height: 205px;
          
            width: 160px;
            margin-left: 8px;
            &:first-of-type{
              margin-left: 20px;
            }
            .content{
              min-height: 120px;

              span.percent{
                width: 40px;
                height: 40px;
                @include fontSize(14px);
              }
            }

            h1{
              font-size: 14px;
            }
          }
        }
      }
    }  
    
     @include media-breakpoint-down(xs) {
       padding: 16px 0;
     }
  }
}



//예약하기 카드
.book-ui {
  @include media-breakpoint-only(lg){
    margin-top: 24px;
    padding:0;
  }
  @include media-breakpoint-down(md){   
    position: fixed;
    width: 100%;
    bottom:-1000px;        
    transition: all 0.8s;
    position:fixed;
    width: 100%;
    left: 0;
    background: $white;
    min-height: 420px;
    z-index: 2100;
    padding-bottom: 2rem;
    overflow: hidden;   
    overflow-y: auto;
  }
  &-modal{  
    bottom:0;    
  }

  hr{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  @include media-breakpoint-only(xl) { 
      position: absolute;
      top: 674px;
      left: calc(50% + 486px);
      width: 218px;
      // height: 200px;
      border:1px solid $light;  
      padding:16px;
      box-shadow: 0 4px 8px 0 rgba(33, 37, 41, 0.05);
  }

  // @include media-breakpoint-down(md) { 
  //   display: none;
  // }

  @include media-breakpoint-up(lg) { 
    .close-book-ui{
      display:none;
    }
  }
  
  width: 100%;
  // border:1px solid $light;
  min-height: 413px;
  padding:0 16px;

  .book-ui-content{
    padding:16px;
    border:1px solid $light;

    h5{
      font-size: 14px;
      font-weight: $font-weight-bold;
    }
    @include media-breakpoint-down(md) { 
      // margin-top:24px;
      border:none;
      padding:0;
    }
    @include media-breakpoint-only(xl) { 
      border:none;
      padding:0; 
    }
  }

  input.form-control{
    border:1px solid $light;
    height: 40px;
  }

  .book-filter{
    border:1px solid $light;
    padding-left: 42px;
    margin-top: 8px;
    position: relative;
    color: $dark;
    input{
      border:none;
    }

    &:first-of-type{
      margin-top: 16px;
    }

       
      .modal{
        position: absolute; 
        height: auto; 
        top: 40px;
        width: auto;
        right:0;
        left: auto;
        // padding-right: 0 !important;
                  
       
        &.left{
          left:0;
          right:auto;
        }
        @include media-breakpoint-up(md){
          //width: 100%;
        }

        .activity-counter{
          display: flex;
          justify-content: space-between;
          margin-top: 24px;
          //counter num
          .counter-num{
            padding:0 20px;
          }
          //counter btn
          button{
            border:none;
            box-shadow: none;
            background: transparent;
            padding:0;
            vertical-align: middle;

            &.add-btn{
              background-image: url('/src/assets/images/icon-add-gray@3x.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size:cover;
              width: 24px;  
              height: 24px;
            }

            &.minus-btn{
              background-image: url('/src/assets/images/icon-minus-gray@3x.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size:cover;
              width: 24px;
              height: 24px;
            }
          }  
        }

        

        .modal-dialog{
          display: inline-block; 
          margin-top:8px; 
          min-width: 220px;
          border:1px solid $light;
          border-radius: 0;

          @include media-breakpoint-up(md){
            width: 100%;
          }

          .modal-content{
            border:none;
            border-radius: 0;

            .modal-header{
              border-bottom:none;
            }

          .modal-footer{
              border-top:none;

              button{
                width: 80%;
                margin: auto;
              }
            }
          }

          //X BUTTON
            .close{
              font-size: 24px;
              font-weight: normal;
            }
        }
      }  
 
  }
  .date{     
      background-image: url('/src/assets/images/icon-date-gray@3x.png');
      background-position: 14px center;
      background-repeat: no-repeat;
      background-size:24px auto;  
      padding-left:42px;
    }

    .people-n{
      background-image: url('/src/assets/images/icon-user-gray@3x.png');
      background-position: 14px center;
      background-repeat: no-repeat;
      background-size:24px auto;  
    }
}

.mobile-book-ui{
  position: fixed; 
  left:0;
  right: 0;
  bottom:0;
  width: 100%; 
  background-color:$white; 
  z-index: 2000;  
  box-shadow: 0 -4px 4px 0 rgba(33, 37, 41, 0.05);  

  .price{
    color:$primary;
    font-size: 18px;
    font-weight: $font-weight-bold;
    padding:16px;
  }

  .book-btn{
    width:90px;
    height:56px;
  }

  @include media-breakpoint-up(lg) { 
    display: none;
  }
}
