// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

main {
    &.main {

    .main-bg-title{
      @include media-breakpoint-up(md) {
        margin-top:12.571rem;
      }

       @include media-breakpoint-down(md){
         margin-top: 3.75rem;
       }
    }
    
    //인기검색어 card

    .md-popular-ui{
      position: relative;
      @include media-breakpoint-only(md) {
       margin-top: 16px !important;
      }
    }
    .popular-search-word.display{
      display:block;
    }
    .popular-search-word{
      display: none;
      position: absolute; 
      top: 0; 
      z-index: 1050; 
      background-color:$white; 
      padding:16px; 
      width: calc(100% - 110px);   
      min-height: 146px;
      margin-top: 8px;
      @include media-breakpoint-down(md) {
       width: calc(100% - 30px); 
      }
      .title{
        color:#868e96; 
        font-size: 12px;
        font-weight: 700;
      }
      ul{      
        flex-wrap: wrap;  
        li.popular-list{
          margin-top: 8px;
          position: relative;
          input{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            &:checked{
              + label{ 
                background-color: $primary;
                color:$white;                 
              }
            }
          }
          label{
            background-color:#f1f3f5; 
            width: auto; 
            min-width: 56px; 
            height: 28px; 
            line-height:28px;
            font-weight: normal; 
            border-radius: 14px; 
            margin-right: 8px;
            padding:0 16px;
          }
        }

        &.area-group{
          margin-top: 40px;
          li.area-list{
            margin-top: 8px;

          input{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            &:checked{
              + label{                 
                color:$primary;                 
              }
            }
          }
          
          label{
             color:$main-grey;
              width: auto;            
              font-weight: normal;            
              margin-right: 24px;            
              padding:0;
            }
          }
        }
        
      }
    }

      .main-top-body {
        height: 640px;
        width: 100%;
        background-position: center;
        background-size: cover;

        .container{
          margin-top: 7.5rem;
          @include media-breakpoint-down(sm) {
           margin-top: 5.429rem;
          }
        }
        @include flex(normal, normal, column);

        @include media-breakpoint-down(sm) {
          height: 360px;
        }


        h1 {
          @include fontSize(63px);
          color: $white;
          font-weight: 400;
          font-family: "Black Han Sans", sans-serif;

          @include media-breakpoint-only(xs) {
            @include fontSize(24px);            
          }
        }

        p {
          @include fontSize(24px);
          color: $white;
          font-weight: 700;
          @include media-breakpoint-only(xs) {
            @include fontSize(14px);      
            word-break: keep-all;
          }
        }
      }
    }

  .section-body.card-ui{

    &-bg {
      background-color: #f9f5ff;
      padding: 60px 0;

      @include media-breakpoint-down(xs) {
       padding:20px 0;
       margin-top: 20px !important;
      }
    }

    &.mobile{
      @include media-breakpoint-down(md) {
       margin-top: 0 !important;
      }
    }

    .top-title {
      a.more {
        color: $dark;
        @include media-breakpoint-only(xs) {
          @include fontSize(12px);
        }
      }

      h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.6;
        margin-bottom: 0;

        &.near-exp-title{
          @include fontSize(18px);

          @include media-breakpoint-only(xs) {
            @include fontSize(18px);
          }
        }
        @include media-breakpoint-only(xs) {
          @include fontSize(18px);
        }

        ~ select{
          width: 126px;
        }
      }

      &.font {
        h3 {
          font-family: "Black Han Sans", sans-serif;
          font-size: 36px;
          font-weight: 400;
          color: $secondary;
          margin-bottom: 0;
        
          @include media-breakpoint-only(xs) {
            @include fontSize(24px);
          }
        }

        p {
          @include fontSize(18px);
          margin-top: 8px;
          font-weight: 700;
          @include media-breakpoint-only(xs) {
            @include fontSize(14px);
            margin-top: 0;
          }
        }
      }
    }

    //category card ui
    ul.category-card-body {
      margin: 24px 0 0 -20px;
      display: flex;
      flex-wrap: wrap;
      @include media-breakpoint-only(xs) {
        margin-top: -8px;
      }
      li.category-card {
        width: calc(25% - 20px);
        display: inline-block;
        position: relative;
        margin-left: 20px;
        background-size: cover;
        min-height: 220px;
        background-position: center;
        background-repeat: no-repeat;

        a{
          display: block;
          width:100%;
          height:100%;
        }

        @include media-breakpoint-only(xs) {
          width: calc(50% - 20px);
          margin-top: 16px;
          min-height: 137px;
        }
        @include media-breakpoint-only(sm) {
          width: calc(50% - 20px);
          margin-top: 16px;
          min-height: 220px;
        }
        @include media-breakpoint-only(md) {
          width: calc(33.33% - 20px);
          margin-top: 16px;
          min-height: 220px;
        }
        @include media-breakpoint-only(lg) {
          width: calc(25% - 20px);
          min-height: 220px;
        }
        div.content {
          width: 100%;
          position:absolute;
          bottom:0;
          background-color:rgba(33, 37, 41, 0.4);
          padding:8px;
          color:#fff;
          // position: absolute;
          // padding-left: 8px;
          // width: 100%;
          // bottom: 0;
          // width: 100%;
          // background-image: linear-gradient(
          //   to bottom,
          //   rgba(0, 0, 0, 0),
          //   rgba(16, 18, 20, 0.6) 51%,
          //   rgba(33, 37, 41, 0.9)
          // );
          

          p {
            color: $white;
            font-weight: 700;
            
            &.title {
              @include fontSize(18px);
              margin-top: 8px;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    ul.popular-card-body {
      margin: -16px 0 0 -20px;
      display: flex;
      flex-wrap: wrap;

      &.company-product-body{
        display: flex;
        white-space: normal;
      }

      @include media-breakpoint-down(lg) {
        margin: 8px 0 0 -20px;
      }

      @include media-breakpoint-only(xs) {
        overflow: hidden;
        flex-wrap: wrap;
        white-space: nowrap;
        margin-top: 0;
        overflow-x: auto;
        display: block;        
      }

       &.list{
          @include media-breakpoint-only(xs) {
            overflow: visible;
            flex-wrap: wrap;
            white-space: normal;   
          
            li.popular-card{
              width: calc(100% - 20px);         
            }
          }             
        }
      
      li.popular-card {
        width: calc(33.33% - 20px);
        //company main popular card
        @include media-breakpoint-up(md){
          &.four{
            width: calc(25% - 20px);
            .content{
              min-height: 160px;
            }   
            
            &.product{
              .content{
                min-height: 220px;
              }   
            }
          }
        }

        @include media-breakpoint-down(xs){
          &.four{
            width: 160px;   
            min-height: 205px;
            
            //업체 상품 메인페이지 카드 ui
            &.half-width{ 
              width:calc(50% - 20px);

              &:nth-of-type(1){
                margin-top: 8px;
              }
              &:nth-of-type(2){
                margin-top: 8px;
              }
            }

            .content{
              min-height: 120px;

              .percent{
                width: 40px;
                height: 40px;
                @include fontSize(14px);
              }
            }

            h1{
              @include fontSize(14px);
            }
            

            &.product{    
              min-height: 245px;         
              .content{
                min-height: 160px;
              }   
            }
          }           
        }
        margin-left: 20px;
        margin-top: 40px;
        @include media-breakpoint-down(xs){
           &.slide{
            margin-top: 8px;
          }

          &.xs-down{
            width: 160px;
            min-height: 205px;
            .content{
              min-height: 120px;
              
              .percent{
                width: 40px;
                height: 40px;
                @include fontSize(14px);
              }
            }
            h1{
              @include fontSize(14px);
            }
          }
        }
       

        display: inline-block;
        min-height: 304px;
        vertical-align: top;
        position: relative;
        

        //list page
        &.h-auto{
          min-height:auto;
          margin-top: 40px;
          @include media-breakpoint-down(xs) {
            &:first-of-type{
              margin-top: 8px;
            }
           }
           
           //추천 체험농가 content 
           .content{
             min-height: 200px;
             .title-bg{
               padding: 8px;
               width: 100%;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;

               h3{
                 font-size: 24px;
                 width: 100%;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 white-space: nowrap;

                 @include media-breakpoint-down(xs){
                  @include fontSize(18px);
                }
               }
             }

             .pm{
               margin-bottom: 5px;
               .pm-category{
                @include fontSize(18px);

                @include media-breakpoint-down(xs){
                  @include fontSize(14px);
                }
               }

               .pm-icon{
                 width: 32px;
                 height: 32px;
                 background-color: #212529;
                 border-radius: 50%;
               }

               .pm-title{
                 @include fontSize(14px);

                 @include media-breakpoint-down(xs){
                  @include fontSize(12px);
                }
               }
             }
           }

           //promotion card
           &.promotion{
             @include media-breakpoint-up(md) {
                width: calc(50% - 20px);
              }
              
              .content{               

                @include media-breakpoint-down(xs) {
                 min-height: 188px;
                }

                min-height: 300px;
              }
            }           
        }

        .title-bg{
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color:rgba(33, 37, 41, 0.4);
            padding: 16px;
            color: $white;
            font-size: 18px;
            font-weight: 700;
            word-break: break-all;
        }
        //추천체험농가 card
        &-ui {
          
          //메인 추천 체험농가 카드 높이
          &.lg-h{
            .content{
              min-height: 320px;
              @include media-breakpoint-down(xs){
                min-height: 200px;
              }
            }
          }

          &-list{
            width:calc(33.33% - 20px);

            .content{
              min-height: 208px !important;
            }
          }

          width: calc(50% - 20px);

      
          .content {            
            min-height: 320px;

            @include media-breakpoint-down(xs){
              height: 200px;
            }
          }

          .detail {
            background-color: $white;
            padding: 10px 16px;
            min-height: 113px;
            ul {
              li {
                font-size: 18px;
                margin-bottom: 4px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }

          //세로 나열형식
          &.vertical{
            @include media-breakpoint-only(xs) {
              margin-top: 30px;
              &:first-of-type{
                margin-top: 8px;
              }
            }
          }
        }

        // end 추천체험농가 card

        @include media-breakpoint-only(xs) {
          &:first-of-type{
            margin-top: 8px;
          }
          width: calc(90% - 20px);
          min-height: 304px;
        }
        @include media-breakpoint-only(sm) {
          width: calc(100% - 20px);
          margin-top: 16px;
          min-height: 304px;
        }

        h1 {
          @include fontSize(18px);
          font-weight: 700;
          margin-top: 4px;
          line-height: 1.5;         
          white-space: normal;
        }

        p {
          margin-top: 8px;
          word-break:break-word;
          span.price {
            @include fontSize(18px);
            font-weight: 700;
          }
          del.sale-price {
            color: $dark;
            font-weight: 400;
            @include fontSize(14px);
          }

          &+span.percent{
            color:$primary;
            font-size: 18px;
            font-weight: 700;
            margin-top: 8px;
          }
        }
        .content {
          position: relative;
          background-size: cover;
          min-height: 200px;
          background-position: center;
          background-repeat: no-repeat;

          span.address {
            text-align: center;
            background-color: $secondary;
            color: $white;
            min-width: 70px;   
            padding:2px 8px;
            position: absolute;
            left:0;
          }

          span.pr-category{
            text-align: center;
            background-color: $pink;
            color: $white;
            min-width: 70px;   
            padding:2px 8px;
            position: absolute;
            left:0;
          }

          span.percent {
            font-size: 18px;
            font-weight: 700;
            width: 48px;
            height: 48px;
            background-color: rgba(245, 1, 89, .8);
            border-radius: 50%;
            color: $white;
            position: absolute;
            bottom: 8px;
            right: 8px;
            @include flex(center, center, row);

            &.stay{
               background-color: $orange;
            }
          }

          .town {
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: rgba(33, 37, 41, 0.4);
            padding: 16px;
            color: $white;
            font-size: 24px;
            font-weight: 700;

            @include media-breakpoint-down(xs){
              padding: 8px;
            }
          }
        }
      }
    }

    //main end section
    &-video {

      @include media-breakpoint-down(xs) {
       margin-top: 1.25rem !important;
       margin-bottom:1.25rem;
      }

      h3{
        font-size: 2.071rem;
        font-weight: 700;
        line-height: 1.6;

        @include media-breakpoint-down(xs) {
          font-size: 18px;
        }
      }
      .ui {
         @include media-breakpoint-up(lg) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-right: 0;
        }
      
        li{
          font-size: 18px;
          @include media-breakpoint-down(xs) {
            font-size: 14px;
            &:first-of-type{
              margin-top: 8px;
            }
            margin-top: 16px !important;
          }
        }

      }
      .video-body {
        width: 100%;
        padding-top: 64.8%;
        position: relative;

        iframe {
          position: absolute;
          top: 0;
          left: 0;

          @include media-breakpoint-down(lg) {
            padding-top: 24px;
          }
        }
      }

      .list{
        position: relative;
        div{
          padding-left: 8px;
        }
        &:before{
          content: "";
          position:absolute;
          top: 0.7rem;         
          background-color:$primary;

          display:inline-block;
          width:4px;
          height:4px;
          border-radius: 50%;
          }
      }

      .area{
        color:$dark;

        span{
          &.divider:after{
            content:'|';
            padding-left: 2px;
            color:$dark;
          }
        }

        @include media-breakpoint-up(lg) {
          &.m-position{
            display:none;
          } 
          &.p-position{
            display:block;
          }        
     
        }

        @include media-breakpoint-down(lg) {
          &.p-position{
            display:none;
          }   
          &.m-position{
            display:block;
          }        
        }
      }
    }
  }
}
