.account-form{
    .form-box {
        border:1px solid #e9ecef;
        padding:40px 60px;
        @include media-breakpoint-up(lg){
            margin: 12rem 0;
            &.join{
                margin:4rem 0;  
            }
        }
        @include media-breakpoint-down(md) {
            padding:24px;
            border:none;
            padding:0;
            margin:2rem 0;
        }
       
        h1{
            font-size: 18px;
        }

        .link{
            @include font-size(12px);
            color:$dark;
        }

        .sns{
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;

            .kakao{
                background-color: #fae101;
                width: 61px;
                height: 61px;
                border-radius: 50%;

                img{
                    width:24px;
                }
            }

            .naver{
                background-color:#03cf5d;
                width: 61px;
                height: 61px;
                border-radius: 50%;
                img{
                    width:24px;
                }
            }

            .apple{
                background-color:#212529;;
                width: 61px;
                height: 61px;
                border-radius: 50%;
                img{
                    width:24px;
                }
            }
        }

        &.reservation-confirm-modal{
            margin-top:0;
            margin-bottom:0;
            padding:40px 60px;
            border: none !important;
        }
    }
}

.reservation-modal{
    @include media-breakpoint-down(md){
        display: none;

    }
     .modal-dialog{
        @include media-breakpoint-up(lg){
            max-width:460px;
            margin-top: 8rem !important;
        }
     }
   
}

//terms form
.mypage-tab-nav.terms{
    @include media-breakpoint-up(lg){
        display: none;
    }
}
.terms-form{
    h1{
        @include fontSize(30px);
        margin-bottom: 0;
        margin-top: 40px;
        @include media-breakpoint-down(xs){
            display: none;
        }
    }
    .forms-group{
        padding:16px 24px;
        border: 1px solid $light;
        margin-top: 40px;

        @include media-breakpoint-down(xs){
            margin-top: 16px;
            border: none;
            padding: 0;
        }
       

        select.category-select{
            min-width: 156px;
            margin-top: 16px;
        }

        input{
            margin-top: 16px;
        }

            textarea{
            margin-top: 16px;
            padding: 16px 27px;
            @include media-breakpoint-down(xs){
            padding: 16px;
            }
        }
    }
}

//custom checkbox
.custom-control-label{

    &.checkbox{
        padding-left: 24px;
        &:before{
            left:0;
        }

        &:after{
            left:0;
        }
    }
}