
//mypage title

  .section-title{
  margin-top: 40px;
  @include fontSize(24px);
  @include media-breakpoint-down(xs){
    @include fontSize(18px);
    margin-top: 24px;
  }
}



//company tab nav
.mypage-tab-nav{
  width: 100%;
  background-color: $pale-gray;

  @include media-breakpoint-up(lg){
    height: 61px;
  }
  &.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    z-index: 2000;
  }
  ul{
    display: block;
    border-bottom: none;
     @include media-breakpoint-down(md){
      // display: flex;
      // flex-wrap: wrap;   
      white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;  
    }

    li{
      display: inline-block;
      min-width: 145px;
      @include media-breakpoint-down(md){
        min-width: 25%;
      }

      // @include media-breakpoint-down(xs){
      //  min-width: 25%;
      // }

      a{
        padding:16px;
        @include fontSize(18px);
        @include media-breakpoint-down(md){
          padding:12px 2px;
          @include fontSize(14px);
        }

      }

      
      &.nav-item .nav-link.active{        
        border: none;
        border-color: $primary;
        border-bottom: 2px solid $primary;
        background:none;
        color:$primary;
        font-weight: 700;       
      }


      @include media-breakpoint-up(lg){
        &.display-md-down{
          display: none;
        }
      }
    }
  }
}

//company tab nav
.book-tab{
  width: 100%;
  margin-top: 40px;
  // background-color: #f9f5ff;
  @include media-breakpoint-down(xs){
    margin-top: 16px;
  }

  &.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    z-index: 2000;
  }
  ul{
    display: block;
    border-bottom: none;
     @include media-breakpoint-down(md){
       text-align: left;
       white-space: nowrap;
       overflow:hidden;
       overflow-x: auto;
    }
    li{
      display: inline-block;
      min-width: 97px;
      @include media-breakpoint-down(md){
        min-width: 53px;
      }

      a{
        padding:0;
        color:$dark;
        font-weight: 700;
        @include fontSize(24px);
        @include media-breakpoint-down(md){
          padding:0;
          @include fontSize(18px);
        }

      }

      
      &.nav-item .nav-link.active{        
        border: none;
        border-color: $primary;
        // border-bottom: 2px solid $primary;
        background:none;
        color:$primary;
        font-weight: 700;       
      }
    }
  }

  // .scheduled-book{

  // }
  .prev-book{
    padding-left: 40px;
    @include media-breakpoint-down(xs){
      padding-left:24px;
    }
  }

  hr{
    margin-top: 12px;
    margin-bottom: 0;
    @include media-breakpoint-down(xs){
      margin-top: 8px;
      margin-bottom: 8px;
    }   
  }  
}

//card
.book-card{ 
  margin-top: 40px;
  position:relative;

  //canceled book
  .canceled-book{

    position: absolute; 
    z-index: 999; 
    top:0; left:0; 
    width:100%;
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.85);
  }
  @include media-breakpoint-down(md){
      .md-block{
        display: block !important;
      }

      &:first-of-type{
        margin-top: 16px;
      }
    }
  .content{
    width: 300px;
    display: inline-block;
    position: relative;
    background-size: cover;
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .address{
      text-align: center;
      background-color: #5a00cb;
      color: #ffffff;
      min-width: 70px;
      padding: 2px 8px;
      position: absolute;
      left: 0;
    }

    .d-day{
      font-size: 18px;
      font-weight: 700;
      width: 48px;
      height: 48px;
      background-color: rgba(255,255,255,0.8);
      border-radius: 50%;
      color: $primary;
      position: absolute;
      bottom: 8px;
      right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      &.complete{
        color:$main-grey;
      }
    }

    .canceled{
      color:$dark;
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      z-index: 999;
      @include fontSize(18px);
    }

    @include media-breakpoint-down(md){
      width: 100%;
    }
  }

  .detail-info{
    width: calc(100% - 300px);
    margin-left: 20px;
    display: inline-block;
    @include media-breakpoint-down(md){
      width: 100%;
      margin-left: 0;
    }
    .book-kinds{
      img{
        width: 32px;
        @include media-breakpoint-down(sm){
          width: 24px;         
        }
      }

      .left{
        color:$dark;
        vertical-align: middle;
        @include fontSize(18px);
        @include media-breakpoint-down(sm){
         @include fontSize(14px);
        }
      }
    }

    .cancel-request{
      width: 90px;
      height: 32px;
      display: inline-block;
    }



    .left-area{
      width:calc(100% - 220px);

      @include media-breakpoint-down(sm){
      width: 100%;
      }
      h1{
        @include fontSize(18px);
        margin-top: 16px;
      }

      .booked_info{
        li{
          margin-top: 8px;
          &:first-of-type{
            margin-top: 16px;
          }
        }
      }
    }

    .right-area{
      min-width:220px;
      background-color: $light;
      padding:8px 16px;
      @include media-breakpoint-down(md){
      width: 100%;
      margin-top: 8px;
      }
      hr{
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .amount{
        @include fontSize(18px);
        font-weight: 700;
      }
      .pay-type{
        margin-top: 27px;
      }
    }

    
  }
}

//예약 상세 업체 정보
.book-company-section{
  padding: 16px 24px; 
  border: 1px solid $light;
  margin-top: 24px;

  @include media-breakpoint-down(xs){
    paddin:16px;
  }

  h3{
    @include fontSize(18px);
    color: $primary;
  }

  .list-group-row{
    margin-top: 16px;
    display: flex;

    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
    .list{
      margin-left: 80px;
      @include media-breakpoint-down(sm){
       margin-left: 0;
       margin-top: 8px;
      }
      &:first-of-type{
        margin-left: 0;
      }
    }
  }
}

.refund-policy{
  margin-top: 40px;

  @include media-breakpoint-down(sm){
    margin-top: 24px;
  }

  h3{
    @include fontSize(24px);

    @include media-breakpoint-down(xs){
      @include fontSize(18px);
    }
  }

  p{margin-top: 8px;}
}

.rating-area{
  margin-top: 40px;
  h4{
    @include fontSize(18px);    

    @include media-breakpoint-down(xs){
      @include fontSize(14px);
    }
  }

  .rating-stars{
    margin-top: 16px;
  }
  
}

.review-area{
  margin-top: 40px;
  h4{
    @include fontSize(18px);    

    @include media-breakpoint-down(xs){
      @include fontSize(14px);
    }
  }
  textarea{
    margin-top: 16px;
  }
}

.review-submit-btn{
  margin-top: 24px;
  justify-content: center;
  display: flex;
  .btn{
    width: 220px;
    @include media-breakpoint-down(sm){
      width: 50%;
      &.cancel{
        margin-right: 4px;
      }

      &.add{
        margin-left: 4px;
      }
    }
  }

  .align-center{
    line-height: 27px;
  }

  button{
    margin-left: 8px;
  }
}

//내정보수정
.my-info-update{
  margin-top: 40px;
  &:first-of-type{
    button.secession{
      background:none;
      box-shadow: none;
      border:none;
      padding:0;
      margin-top: 8px;     
      color:$dark;
      @include fontSize(12px);     
    }

    @include media-breakpoint-down(xs){
      margin-top: 16px;
    }
  }
  h3{
    @include fontSize(18px);
    @include media-breakpoint-down(xs){
     @include fontSize(14px);
    }
  }
  .left{
    margin-top:  16px;;
    border: 1px solid $light;
    padding: 40px 60px;
    @include media-breakpoint-down(xs){
      margin-top: 8px;
      padding: 16px;
    }
    .form-group{
      h6{
        @include fontSize(12px);
      }

      &.list{
        margin-top: 24px;

        &:first-of-type{
          margin-top: 0;
        }
      }

      hr{
        margin-top: 24px;
        margin-bottom: 24px;
        border-top: 1px solid #e9ecef;
      }
    }

    .profile-update{
      margin-top: 24px;
    }

  }

  .right{
    margin-top: 16px;
    border: 1px solid $light;
     padding: 40px 60px;
    @include media-breakpoint-down(xs){
      margin-top: 8px;
      padding: 16px;
    }

    .form-group{
      h6{
        @include fontSize(12px);
      }

      &.list{
        margin-top: 24px;

        &:first-of-type{
          margin-top: 0;
        }
      }

      hr{
        margin-top: 24px;
        margin-bottom: 24px;
        border-top: 1px solid #e9ecef;
      }
    }

    .profile-update{
      margin-top: 24px;
    }
  }
}


//mypage my review
.my-review{
    .review-filter{
      margin-top: 40px;

      @include media-breakpoint-down(xs){
        margin-top: 16px;
      }
      select.option{      
        min-width: 126px;
        width: fit-content;
        height: 32px;
        padding-top: 0;
        padding-bottom: 0;
      }

      .insert-review{
        padding:0; 
        height: 32px; 
        line-height: 32px; 
        min-width: 156px;
        width: fit-content;
        @include media-breakpoint-down(xs){
          min-width: 90px;
          width: fit-content;
          position: fixed;
          bottom: 0;
          width: 100%;
          display: block;
          left: 0;
          right: 0;
          height: 40px;
          z-index: 9999;
          line-height: 40px;
        }
      }
    }
  .review-list{
    margin-top: 40px;
  
    &:first-of-type{
      margin-top: 24px;
    }

    .review-title{
      @include fontSize(18px)
    }
    .user{
      font-weight: $font-weight-bold;
      .rating{
        margin-left: 4px;
      }
    }
    .date{
      color:$dark;
      margin-left: 4px;
    }

    .content{
      margin-top: 8px;
      @include media-breakpoint-down(xs){
       flex-direction: column;
      }
      .review-form{
        display: flex;
        @include media-breakpoint-up(lg){
          margin-left: 24px;
        }
        .btn{
          width:48px;
          height:27px;
          padding: 0;
          line-height: 27px;
          margin-left: 8px;
          @include media-breakpoint-down(xs){
            margin-top: 8px;
            &.update-btn{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}


//mypage my inquiry

.my-inquiry{

  .inquiry-list{
    margin-top: 40px;
    
    @include media-breakpoint-down(xs){
      &:first-of-type{
        margin-top: 16px;
      }
    }
 

    .inquiry-title{
      @include fontSize(18px)
    }
    .user{
      font-weight: $font-weight-bold;
      .state{
          min-width: 80px;
          display: inline-block;
          text-align: center;
          border-radius: 14px;
          // padding: 4px 0;
          height: 28px;
          line-height: 28px;
          vertical-align: middle;
          font-weight: 400;
        &.ing{
            background: #e9ecef;
        }

        &.complete{
          background: #9334ff;
          color: #ffffff;
        }
      }

      .id{
        margin-left: 8px;
      }
    }
    .date{
      color:$dark;
      margin-left: 4px;
    }

    .content{
      margin-top: 8px;
      @include media-breakpoint-down(xs){
       flex-direction: column;
      }
      .review-form{
        display: flex;
        @include media-breakpoint-up(lg){
          margin-left: 24px;
        }
        .btn{
          width:48px;
          height:27px;
          padding: 0;
          line-height: 27px;
          margin-right: 8px;

          &.del-btn{
            margin-right: 0;
          }
          @include media-breakpoint-down(xs){
            margin-top: 8px;            
          }
        }
      }

      .qa-area{
        margin-top: 8px;
        .answer{
          margin-top: 12px;
        }
        .qa{
          color: $primary;
          font-weight: $font-weight-bold;
          margin-right: 8px;
        }
      }
    }
  }
}
