//filter
@include media-breakpoint-down(md){
  .md-up-d-block{
    display: block !important;
    width: 100%;
  }

  .md-down-d-flex{
    display:flex;
  }
}


.dropdown-group{
    @include media-breakpoint-down(md){
      &.full{
        width: 100%;
      }
    }
    &.list{
      @include media-breakpoint-down(md){
        width: 50%;
      }     
    }

    &.list:nth-last-of-type(1){
      margin-left: 20px;
      @include media-breakpoint-down(sm){
      margin-left: 8px;
      }
    }
  }

.top-filter{
  background-color:$pale-gray;
  padding:16px 0;
}

.filter-group{
  margin-top: 8px;
  margin-bottom: 0;

  @include media-breakpoint-down(xs){
    margin-top: 8px;
  }

  &.main{
    display: flex;
    justify-content: space-between;
  }
}


.dropdown-filter{
  width: 240px;
  
  @include media-breakpoint-up(xl){
    width:280px;
  }
  height: 40px;
  text-align: left;
  position: relative;
  border: 1px solid $light;
  font-weight: 400;
  background-color: $white;
  @include media-breakpoint-down(md){
    width: 100%;
  }
  &:after{
    border:none;
    content:'';
    background-image:url('/src/assets/images/triangl@3x.png');
    background-repeat: no-repeat;
    background-position: 95% 55%;
    width: 10px;
    height: 8px;
    background-size: cover;
    position: absolute;
    display: inline-block;
    right:16px;
    top:50%;
    transform: translateY(-50%);  
  }
}

.dropdown-filter + .dropdown-menu{
  width: 220px;
  margin-top: 8px;
  border: 1px solid $light;
  padding: 16px;
  border-radius: 0;

  &.right{
    right:0;
    left:inherit;
  }

  .dropdown-item{
    padding:16px 0 0 0;
  
    &:first-of-type{
      padding:36px 0 0 0;
    }
  }

  @include media-breakpoint-down(md){
    // width:100%;
  }

  h1.dropdown-title{
    @include fontSize(14px);
  }

  button.close{
    opacity: 1;
  }

  .apply-btn-wrapper{
      // padding:24px 0 0 16px;
      margin-top: 24px;
      button.apply{
        width:156px;
        @include media-breakpoint-down(sm){
          &.button-list{
            width:120px;
          }
        }
        
      }
  }

}

input.form-control.filter-input{
  border:1px solid $light;
  padding:16px 10px;
  height: 40px;
  margin-left: 20px;
  width: 380px;

  @include media-breakpoint-down(md){
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
  }
}

.product-category{
  display: flex;
  .list{
    color:$dark;
    padding:0 30px;
    position:relative;
    @include fontSize(14px);
    @include media-breakpoint-down(sm){
      @include fontSize(14px);
      padding:0 16px;
    }
    // width: 140px;
    // border-right: 2px solid $cool-grey;
    text-align: center;   
    font-weight: 700;

    &:after{
      content:"";
      width:2px;
      height:15px;
      background-color: $dark;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right: 1px;
    }
    &:nth-last-of-type(1):after{
      content:"";
      width:0;
      height:0;
    }
    &:first-of-type{
      text-align: left;
      padding-left: 0;

    }
    a{
       color:$dark;
       &.active{
         color:$primary;
       }
    }
  }
}

.filter-search-btn{
  width: 90px;
  height: 40px;
  margin-left: 20px;
  @include media-breakpoint-down(md){
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
  }
}

.custom-control{padding-left: 0;}

.custom-control-label{width: 100%;}

.custom-control-label::before{
  right:0;
  left: auto;
}

.custom-control-label::after{
  right:0;
  left: auto;
}

.custom-radio .custom-control-label::after{
  right: 3px;
  left: auto;
}