<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>검색결과</title>
  <meta name="description" content="">
  ${ require('../partials/head.html') }

</head>

<body>
  ${ require('../partials/browserupgrade.html') }
  <div>
    ${ require('../partials/header.html') }
    <main class="d-flex flex-column h-100 main main-sub">
      <section class="card_body grey">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 m-auto filter-picker-ui">
              <div class="w-100">
                <div class="d-flex pick-filter-body">
                  <div class="pick-filter place">
                    <input type="text" class="form-control divider main-color" value="전라도" />
                  </div>


                  <div class="pick-filter people-n dropdown filter-btn main-color">
                    <input type="text" class="form-control main-color" value="" placeholder="인원" data-backdrop="false" data-toggle="modal" data-target="#peopleNum" />

                    <!-- Modal -->
                    <div class="modal fade" id="peopleNum" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">인원</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <ul>
                              <li class="activity-counter">
                                <span>성인</span>
                                <span>
                                  <button type="button" class="add-btn">
                                  </button>
                                  <span class="counter-num">2</span>
                                  <button type="button" class="minus-btn">
                                  </button>
                                </span>
                              </li>

                              <li class="activity-counter">
                                <span>성인</span>
                                <span>
                                  <button type="button" class="add-btn">
                                  </button>
                                  <span class="counter-num">2</span>
                                  <button type="button" class="minus-btn">
                                  </button>
                                </span>
                              </li>

                              <li class="activity-counter">
                                <span>성인</span>
                                <span>
                                  <button type="button" class="add-btn">
                                  </button>
                                  <span class="counter-num">2</span>
                                  <button type="button" class="minus-btn">
                                  </button>
                                </span>
                              </li>

                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">적용하기</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pick-filter start-d main-color">
                    <input type="text" class="form-control date divider main-color" name="daterange" value="" placeholder="체크인" />
                  </div>

                  <div class="pick-filter end-d main-color">
                    <input type="text" class="form-control date main-color" name="daterange" value="" placeholder="체크아웃" />
                  </div>
                </div>
                <!-- Button trigger modal -->
                <div class="dropdown-ui">
                  <div class="left">
                    <div class="dropdown price">
                      <button type="button" class="btn btn-outline-secondary dropdown-modal filter-btn" data-backdrop="false" data-toggle="modal" data-target="#exampleModal">
                        가격
                      </button>

                      <!-- Modal -->
                      <div class="modal fade left" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">가격</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <ul>
                                <li>
                                  <div class="input-container">
                                    <span>전체</span>
                                    <label class="container-radio">
                                      <input type="radio" name="price">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="input-container">
                                    <span>5만원미만</span>
                                    <label class="container-radio">
                                      <input type="radio" name="price">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="input-container">
                                    <span>5만원 ~ 10만원미만</span>
                                    <label class="container-radio">
                                      <input type="radio" name="price">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="input-container">
                                    <span>10만원 ~ 15만원미만</span>
                                    <label class="container-radio">
                                      <input type="radio" name="price">
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary">적용하기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="dropdown ml-3">
                      <button type="button" class="btn btn-outline-secondary dropdown-modal filter-btn" data-backdrop="false" data-toggle="modal" data-target="#roomType">
                        숙소유형
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="roomType" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">숙소유형</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <ul>
                                <li>
                                  <div class="input-container">
                                    <span>전체</span>
                                    <label class="container-check">
                                      <input type="checkbox" name="price">
                                      <span class="ch-checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="input-container">
                                    <span>원룸</span>
                                    <label class="container-check">
                                      <input type="checkbox" name="price">
                                      <span class="ch-checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="input-container">
                                    <span>농촌민박</span>
                                    <label class="container-check">
                                      <input type="checkbox" name="price">
                                      <span class="ch-checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="input-container">
                                    <span>펜션</span>
                                    <label class="container-check">
                                      <input type="checkbox" name="price">
                                      <span class="ch-checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="input-container">
                                    <span>농촌호텔</span>
                                    <label class="container-check">
                                      <input type="checkbox" name="price">
                                      <span class="ch-checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary">적용하기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="category ml-3">
                      <ul>
                        <li>
                          <div class="">
                            <!-- <span>전체</span> -->
                            <label class="container-type">
                              <input type="radio" name="searchType" checked="checked">
                              <span class="checkmark">전체</span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="">

                            <label class="container-type">
                              <input type="radio" name="searchType">
                              <span class="checkmark">숙소</span>
                            </label>
                          </div>
                        </li>

                        <li>
                          <div class="">

                            <label class="container-type">
                              <input type="radio" name="searchType">
                              <span class="checkmark">체험</span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn-primary search" onclick="location.href='/searchResult.html'">검색</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main> ${ require('../partials/footer.html') }
  </div>
</body>

<script>
  $(function () {
    var filterBtn = $('.filter-btn')
    // $(".acetrnt-toggle").click(function () {
    //   $(this).toggleClass("active");
    // });

    //date picker
    //date picker

    $('input[name="daterange"]').daterangepicker({
      defaultDate: "",
      opens: 'center',
      // autoUpdateInput: false,
      autoApply: true,
      singleDatePicker: true,
      "locale": {
        "format": "YYYY/MM/DD",
        "separator": " - ",
        "applyLabel": "적용",
        "cancelLabel": "취소",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "daysOfWeek": [
          "월",
          "화",
          "수",
          "목",
          "금",
          "토",
          "일"
        ],
        "monthNames": [
          "1월",
          "2월",
          "3월",
          "4월",
          "5월",
          "6월",
          "7월",
          "8월",
          "9월",
          "10월",
          "11월",
          "12월"
        ]
      }
    }, function (start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });



    filterBtn.click(function () {
      $('.modal').css('z-index', '1200');
    })


  })



</script>

</html>