// -----------------------------------------------------------------------------
// Default theme
// -----------------------------------------------------------------------------

html,
body {
  height: 100%;
  color:$main-grey;
  font-size: 14px;
  background-color: $white;
  word-break: keep-all;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
  margin-bottom: 0.571rem;
  line-height: 1.4;
}

a{
  cursor:pointer;
  color:#343a40;
}

a:hover{
  text-decoration: none;
  color:#343a40;
}

ul{
  padding:0;
  margin-bottom: 0;

  &::-webkit-scrollbar{
    display: none;
  }
  li{
    list-style: none;
  }
} 

hr{
  margin: 16px 0 24px;
}

.primary-color{
  color:$primary !important;
}

.secondary-color{
  color:$secondary !important;
}

.main-color{
  color:$main-grey !important;
}

p{margin-bottom:0;}

.fm footer{
  margin-top: 40px;
}

//section margin
.mt-10{
  margin-top:7.5rem
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  outline:none;
}


.form-control{
  border-radius: 0;
}

select{
  &.form-control{
    box-shadow:none;
    border-radius:0;
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    background-image:url('/src/assets/images/triangl@3x.png');
    background-repeat:no-repeat;
    background-position:95% 55%;
    background-size:10px 8px;       
    height:40px;   
    display:inline-block !important;	
    font-size:14px;
    border: 1px solid $light;	
    width:auto;
    padding:8px 16px; 
  }
}
input{
  
  &.form-control:disabled, &.form-control[readonly]{
    background-color:transparent;
  }
  
  &.form-control{
      border-top:none;
      border-left:none;
      border-right: none;
      border-bottom:1px solid #e9ecef;
      border-radius: 0;
      padding-left: 0;
  }

  &.form-control:focus{
      border-top:none;
      border-left:none;
      border-right: none;
      border-bottom:1px solid #9334ff;
      box-shadow: none;

  }
  
  &.form-control::-webkit-input-placeholder {
    color:#868e96;
  }

  &.form-control:-ms-input-placeholder {
    color:#868e96;
  }

  &.pick-calendar.form-control[readonly]{
    background-color:#fff;
  }
}

textarea{
  &.form-control::-webkit-input-placeholder {
    color:#868e96;
  }

  &.form-control:-ms-input-placeholder {
    color:#868e96;
  }

  &.pick-calendar.form-control[readonly]{
    background-color:#fff;
  }
}

//navbar
.nav-item{
  .nav-link{
    &:focus, &:hover{
      border:none;
      box-shadow: none;
      outline:none;
    }
  }
}


//icon
.sm-icon{
  width: 24px;
}

.md-icon{
  width: 40px;
}

//border
.border-bottom{
  border-bottom:1px solid $light !important;
  padding-bottom:12px;
}

//margin

.m-th{
  margin-top: 0.286rem;
}

.m-t1{
margin-top: 0.571rem;
}

.m-t2{
  margin-top: 1.143rem;
}

.m-t3{
  margin-top: 1.714rem;
}

.m-t4{
  margin-top: 2.286rem;
}

.m-t5{
  margin-top: 2.857rem;
}

.m-t6{
  margin-top: 3.429rem;
}

//bootstrap add margin
.mt-6{
  margin-top: 4.286rem;
}



//mobile margin
@include media-breakpoint-down(xs){
  .m-mt{
    margin-top: 16px !important;
  }
}

.m-p0{
  @include media-breakpoint-down(xs) {
    padding:0;
  }
}

.p-th{
  padding-top: 0.286rem;
}

.p-t1{
padding-top: 0.571rem;
}

.p-t2{
  padding-top: 1.143rem;
}

.p-t3{
  padding-top: 1.714rem;
}

.p-t4{
  padding-top: 2.286rem;
}

.p-t5{
  padding-top: 2.857rem;
}

.p-t6{
  padding-top: 3.75rem;
}


.p-lh{
  padding-left: 0.286rem;
}

.p-l1{
  padding-left: 0.571rem;
}

.p-l2{
  padding-left: 1.143rem;
}

.p-l3{
  padding-left: 1.714rem;
}

.p-l4{
  padding-left: 2.286rem;
}

.p-l5{
  padding-left: 2.857rem;
}

.p-l6{
  padding-left: 3.75rem;
}


//dropdown

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active{
  background: none;
  cursor: pointer;
  color:#343a40;
}